@import "tailwindcss";

@plugin "../tailwind-plugin/tw-theme";
@plugin "../tailwind-plugin/tw-bs-grid";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@import "./safe.css";
@import "./utilities.css";

@layer base {
    @import "./base.css";
}

@layer components {
    @import "./components.css";
    @import "./navigation.css";
    @import "./buttons.css";
}

.iiz__hint {
    @apply rounded-md;
}

/* change input autofield color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.9) inset !important;
}

/*Change text in autofill textbox*/
.dark input:-webkit-autofill {
    -webkit-text-fill-color: #ddd !important;
}



@keyframes float {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.01); }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
    transform-origin: left;
}

@keyframes fi {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

model-viewer {
    --progress-bar-color: transparent;
}

.animate-fi {
    opacity: 0;
    animation: fi 1s ease-in 0s forwards;
}
.animate-fi-2 {
    opacity: 0;
    animation: fi 1s ease-in 1s forwards;
}
.animate-fi-3 {
    opacity: 0;
    animation: fi 1s ease-in 2s forwards;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

body h1 {
    z-index:50;
    color:rgb(7,94,166) !important
}

body h2 {
    z-index:50;
    color: rgb(20, 95, 122) !important;
    text-shadow: 0px 0px 4px #FFFFFF;
}
h3 {
    color:black
}
body {
    font-family: 'Lato', sans-serif !important;
}

