---
import logoImg from "../assets/images/logo.png"
---

<a data-astro-prefetch href="/pure-plant-new/">
    <img src={logoImg.src} class="max-h-[5rem] object-contain block"  alt="PurePlant company logo"/>
</a>
