---
import {ClientRouter} from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/main.css";
import Footer1 from "../components/Footer1.astro";
const {TopElement } = Astro.props;
import pplogo from "../assets/images/logo.png"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pure Plant 2.0</title>
        <ClientRouter/>
	</head>
	<body class="max-w-screen">
        <div class="absolute left-0 top-0 w-screen">

            <Header />
        </div>
        
		<slot />
        <Footer1
                logo={{src: pplogo, alt: "Pure Plant logo", text: "Pure Plant"}}
                description="Premium quality supplements with natural ingredients and sustainable sourcing."
                companyName="Pure Plant Company"
        />
	</body>
</html>
